[Desktop Entry]
Encoding=UTF-8
Type=MimeType
Comment=LilyPond input file
Comment[de]=LilyPond-Datei
Comment[es]=Archivo de entrada de LilyPond
Comment[fr]=Fichier d'entrée LilyPond
Comment[it]=File sorgente di Lilypond
Comment[nl]=LilyPond-bronbestand
Comment[ru]=Исходный код LilyPond
Hidden=false
Icon=ly
MimeType=text/x-lilypond
Patterns=*.ly;*.LY;*.ily;*.ILY;*.lyi;*.LYI
