[Desktop Entry]
Type=MimeType
Comment=LilyPond input file
Hidden=false
Icon=ly.svg
MimeType=text/x-lilypond
Patterns=*.ly;*.LY;*.ily;*.ILY;*.lyi;*.LYI
