[Desktop Entry]
Encoding=UTF-8
Type=MimeType
Comment=LilyPond input file
Comment[nl]=LilyPond-bronbestand
Comment[ru]=Исходный код LilyPond
Hidden=false
Icon=ly
MimeType=text/x-lilypond
Patterns=*.ly;*.LY;*.ily;*.ILY;*.lyi;*.LYI
