[Desktop Entry]
GenericName=LilyPond Music Editor
GenericName[nl]=Muziek-editor voor LilyPond
Name=Frescobaldi
MimeType=text/x-lilypond;
Exec=frescobaldi %U
X-KDE-StartupNotify=true
Icon=frescobaldi
X-DocPath=frescobaldi/index.html
Type=Application
Terminal=false
InitialPreference=8
Categories=Qt;KDE;Application;Audio;TextEditor;
X-Accepts-TextEditUrl=True
