/*
 * Stylesheet to style widgets inside Frescobaldi.
 */

QLCDNumber {
  border-width: 5 3 2 4;
  border-image: url('css:lcd-borders.png') repeat;
  background-image: url('css:lcd-background.png') repeat;
  color: #151B19;
}

QTextEdit#expand {
  font-family: monospace;
}

